{{!-- container --}}
<form class="container loginForm mt-6 p-5">

{{!-- username input --}}
<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input id="login-username" class="input" type="text" placeholder="Your Username here!" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
</div>

{{!-- password input --}}
<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left has-icons-right">
    <input id="user-password" class="input" type="password" placeholder="Your password here!" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>

{{!-- submit button --}}
<div class="field">
  <div class="control">
    <button class="button">Submit</button>
  </div>
  {{!-- <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div> --}}
</div>

</form>

<script src="/js/login.js"></script>