<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{post.title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
   {{post.content}}
    </div>
  </div>
  <footer class="card-footer">
  
    <div  class="card-footer-item">{{post.user.userName}}</div>

    <div>{{post.createdAt}}</div>
    
    
  </footer>
</div>